<style>
</style>

<script>
import AsWizard from './AsWizard.vue'
import AsWizardStep from './AsWizardStep.vue'
import AsWizardProgress from './AsWizardProgress.vue'
import AsTextInput from './AsTextInput.vue'
import AsEmailInput from './AsEmailInput.vue'
import AsCheckbox from './AsCheckbox.vue'
import AsDatetime from './AsDatetime.vue'
import AsDropzone from './AsDropzone.vue'

export default {
    components: {
        AsWizard,
        AsWizardStep,
        AsWizardProgress,
        AsTextInput,
        AsEmailInput,
        AsCheckbox,
        AsDatetime,
        AsDropzone
    },
}
</script>

<template>
    <!-- need to find a better way to include this stuff -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">

    <as-wizard title="[adult swim] : Music Video Submission">

        <as-wizard-progress></as-wizard-progress>

        <as-wizard-step title="Howdy" step="1">
            <p class="lead">Thank you for your interest in premiering your music video on Adult Swim!  In order to get started, we’ll need for you to agree to some initial terms and provide information for the agreement and premiere.  Looking forward to working with you!  </p>
            <quote>~ Adult Swim On Air</quote>
        </as-wizard-step>

        <as-wizard-step title="Permissions Release Agreement" step="2">
            <p class="lead">You Agree that Music Video will be available for use on ALL of the following platforms:</p>

            <ul>
                <li><as-checkbox name="on_air" label="On air via Adult Swim"></as-checkbox></li>
                <li><as-checkbox name="on_stream" label="Streaming channels via adultswim.com"></as-checkbox></li>
                <li><as-checkbox name="on_facebook" label="Digital native post via Adult Swim Facebook page"></as-checkbox></li>
                <li><as-checkbox name="on_youtube" label="Digital YouTube post via Adult Swim YouTube page"></as-checkbox></li>
            </ul>


            <h3>Make sure:</h3>
            <ul>
                <li>Publisher has provided permission for all usages.</li>
                <li>Record Label or Master Use Licensor has provided permission for all usages.</li>
                <li>Adult Swim will not be required to pay any license fee for use of the music video.</li>
            </ul>

            <p>Download a copy of the terms and conditions <a href="https://s3-us-west-2.amazonaws.com/adultswim-s3-uploads/Adult+Swim+Music+Video+Acquisition+License+Agmt+form.pdf">here</a></p>
        </as-wizard-step>

        <as-wizard-step title="How can we contact you?" step="3">
            <as-text-input name="fname" label="Your First Name"></as-text-input>
            <as-text-input name="lname" label="Your Last Name"></as-text-input>
            <as-email-input name="email" label="Your Email Address"></as-email-input>
            <as-text-input name="mailing" label="Your Mailing Address"></as-text-input>
        </as-wizard-step>

        <as-wizard-step title="Tell us about your video" step="4">
            <as-text-input name="track_artist" label="Artist (include 'featuring...' artists if applicable)"></as-text-input>
            <as-text-input name="track_name" label="Track Name"></as-text-input>
            <as-text-input name="track_length" label="Track Length"></as-text-input>
            <as-text-input name="track_director" label="Video Director"></as-text-input>
            <as-text-input name="track_label" label="Record Label"></as-text-input>
        </as-wizard-step>

        <as-wizard-step title="Preferred Release Date" step="5">
            <p>If your video is chosen, do you have a preference about when it is shown?</p>

            <as-datetime name="release_preference"></as-datetime>
        </as-wizard-step>

        <as-wizard-step title="Upload your video" step="6">
            <p>Finally! Select your file to upload!</p>
            <as-dropzone name="upload" label="Video File"></as-dropzone>
        </as-wizard-step>
    </as-wizard>
</template>
