<style>
</style>

<script>
export default {
    props: ['name', 'label'],
}
</script>

<template>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{ name }}"> {{ label }}
        </label>
    </div>
</template>

