<style>
</style>

<script>
export default {
    props: ['name', 'label'],
}
</script>

<template>
    <div class="form-group has-feedback">
        <input class="form-control" type="date" name="{{ name }}">
    </div>
</template>

