<style>
.inverted-well {
    background-color: #fff;
}
</style>

<script>
export default {
    props: ['name', 'label']
}
</script>

<template>
    <div class="form-group has-feedback">
        <label for="{{ name }}">{{ label }}</label>
        <input type="file" name="{{ name }}">
    </div>
</template>

