<style>
</style>

<script>
export default {
    props: ['name', 'label'],
}
</script>

<template>
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input class="form-control" type="email" name="{{ name }}">
    </div>
</template>

