<style></style>

<script>
export default {
    props: ['title', 'step'],

    methods: {
        isCurrentStep: function () {
            return this.step == this.$parent.currentStep;
        },
        nextStep: function () {
            return true;
        },
        previousStep: function () {
            return true;
        },
    }
}
</script>

<template>
    <div class="well well-lg" v-show="isCurrentStep()">
        <h2>{{ title }}</h2>

        <slot></slot>
    </div>
</template>

