<style>
</style>

<script>
export default {
    computed: {
        percentage: function () {
            return (100 / 6) * this.$parent.currentStep;
        }
    },
}
</script>

<template>
    <div class="progress">
        <div
            class="progress-bar progress-bar-info progress-bar-striped"
            aria-valuenow="{{ percentage }}"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: {{percentage}}%;"></div>
    </div>
</template>

