<style>
</style>

<script>
export default {
    props: ['title'],
    
    data() {
        return {
            currentStep: 1
        }
    },

    methods: {
        hasPrevious: function () {
            return this.currentStep > 1;
        },

        hasNext: function () {
            return this.currentStep < this.$children.length - 1;
        }
    },
}
</script>

<template>
    <div class="container">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>

        <form id="as-wizard" action="/" method="post" enctype="multipart/form-data">
            <slot></slot>
        
            <button
                class="btn btn-lg btn-primary pull-left"
                type="button"
                v-show="hasPrevious()"
                @click="this.currentStep--">Back</button>

            <button
                class="btn btn-lg btn-primary pull-right"
                type="button"
                v-show="hasNext()"
                @click="this.currentStep++">Next</button>
        
            <button
                class="btn btn-lg btn-success pull-right"
                type="submit"
                v-show="!hasNext()">Submit</button>
        </form>
    </div>
</template>

